/*---------------Custom button---------------*/

@import "../../nakDS-core/components/button";

/*----------------Custom variables---------------------*/
:root {  
/*--default*/
--button__min-width: 100px;
--button__height: var(--spacing-large);
--button__border: 2px solid var(--theme-color);
--button__background:var(--theme-color);
--button__color: var(--text-color);
--button__font-size: var(--large);
--button__font: var(--base-font);
--button__border-radius: var(--xx-small);
/*--hover*/
--button__background--hover:var(--theme-color);
--button__color--hover:var(--text-color);
/*--neutral*/
--button__color--neutral:var(--text-color);
--button__background--neutral:var(--text-color--light);

/*--narrow*/
/*--naked*/
}

/*----------------Clases---------------------*/


/*-------------------------------------*/

.ii-button {
    @mixin nak-button;
}

.ii-button--neutral {
    @mixin nak-button;

    background: var(--button__background--neutral);
    color: var(--button__color--neutral);
}

.ii-button--narrow {}

.ii-button--naked {}
