/*---------------headings---------------*/
@import "../../nakDS-core/components/heading";

/*----------------Custom variables---------------------*/

:root {
  --page-title__color: var(--color-opaque);
  --page-title__font-size: 2.5em;
  --page-title__background:  var(--color-wildsand);
  --section-title__color: var(--color-azure);
  --section-title__font-size: 2em;
  --section-title__background:  var(--color-wildsand);
  --text-title__color: var(--color-azure);
  --text-title__font-size: 1.5em;
  --text-title__background:  var(--color-wildsand);
}
/*----------------clases---------------------*/

.ii-page-title {
      @mixin nak-page-title;

  a{
    padding-top: var(--large);
    }
}

.ii-section-title {
    @mixin nak-section-title;
}
.ii-text-title {
    @mixin nak-text-title;
}
